* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif
}

body {

    background: #f2f2f2;
}



header {
    vertical-align: top;
}




/*estilos de la navbar*/
nav {
    background-color: #164863;
    color: #fff;
    padding: 1.8rem;
    display: flex;
    justify-content: space-between;
    gap: 30px;

}

a {
    transition: all 0.5s ease-out;
    text-align: center;
    list-style: none;
    flex: 1;
    justify-content: space-evenly;
    font-size: 18px;
    text-decoration: none;
    color: #fff;
    border: 2px solid transparent;
    border-radius: 50px;

}

.nav__enlace {
    padding: 0.5rem 1.5rem;
    background-color: #5dacd62c;
    margin: 0;
    text-align: center;
}

.nav__enlace:hover {
    background-color: #9bbec893;
}

.nav__enlace--activo {
    padding: 0.5rem 1.5rem;
    border-radius: 50px;
    border-radius: 50px;
    background-color: #427d9d;
}
/*fin de los estilos de la navbar*/








button {
    padding: 0.3rem;
    margin: 10px;
    border: none;
    background-color: rgb(116, 116, 255);
    font-size: 18px;
    border-radius: 12px;
    color: rgb(255, 255, 255);

}

button:hover {
    background-color: rgb(86, 86, 255);
    transform: translateY(1px);
}


label {
    font-size: 17px;
}

input {
    height: 2rem;
    border-color: rgba(0, 0, 0, 0.205);
    border-radius: 7px;
}

.peso {
    margin: 1rem;
}

.altura {
    margin: 1rem;
}

.container {
    margin: 0 auto;
    border: 1px solid rgba(0, 0, 0, 0.181);
    text-align: center;
    width: 300px;
    padding: 1rem;
    border-radius: 11px;
    -webkit-border-radius: 11px;
    -moz-border-radius: 11px;
    -ms-border-radius: 11px;
    -o-border-radius: 11px;
    border-radius: 40px;
    box-shadow: -12px -12px 28px #b5b5b583,
        12px 12px 28px #ffffff;
    margin: 7rem auto;
}

.title {
    padding: 3rem 2rem;
}

.input {
    display: grid;
    justify-content: center;
}


.conteiner {
    margin: 2rem 1em;
    display: flex;
}



table {
    width: 50%;
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 18px;
    text-align: left;
}

th,
td {
    padding: 12px;
    border-bottom: 1px solid #ddd;

}

th {
    background-color: #f2f2f2;
}