




body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #164863;
    color: #000000;
}



/*estilos de la navbar*/
nav {
    background-color: #164863;
    color: #fff;
    padding: 1.8rem;
    display: flex;
    justify-content: space-between;
    gap: 30px;

}

a {
    transition: all 0.5s ease-out;
    text-align: center;
    list-style: none;
    flex: 1;
    justify-content: space-evenly;
    font-size: 18px;
    text-decoration: none;
    color: #fff;
    border: 2px solid transparent;
    border-radius: 50px;

}

.nav__enlace {
    padding: 0.5rem 1.5rem;
    background-color: #5dacd62c;
    margin: 0;
    text-align: center;
}

.nav__enlace:hover {
    background-color: #9bbec893;
}

.nav__enlace--activo {
    padding: 0.5rem 1.5rem;
    border-radius: 50px;
    border-radius: 50px;
    background-color: #427d9d;
}
/*fin de los estilos de la navbar*/



aside {
    position: absolute;
    right: 0;
    top: 100px;
    width: 200px;
    padding: 20px;
    background-color: #9BBEC8;
}

main {
    padding: 20px;
    margin-right: 220px;
}

main section {
    margin-bottom: 20px;
}

main h2 {
    background-color: #DDF2FD;
    padding: 10px;
    margin: 0;
}

main p {
    padding: 10px;
    background-color: #DDF2FD;
}
