body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #164863;
    color: #DDF2FD;
}

header {
    background-color: #427D9D;
    padding: 20px;
    text-align: center;
}

header h1 {
    margin: 0;
}

nav ul {
    list-style: none;
    padding: 0;
    text-align: center;
    background-color: #a6c4d0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: black;
    text-decoration: none;
}

aside {
    position: absolute;
    right: 0;
    top: 100px;
    width: 200px;
    padding: 20px;
    background-color: #9BBEC8;
}

main {
    padding: 20px;
    margin-right: 220px;
}

main section {
    margin-bottom: 20px;
}

main h2 {
    background-color: #DDF2FD;
    padding: 10px;
    margin: 0;
}

main p {
    padding: 10px;
    background-color: #DDF2FD;
}
